{% load clinical_trial_extras %}
<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">First name</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_firstname_public_value }}
    </td>
</tr>

{% if trial.field_midlename_public_value %}
    <tr>
        <th class="ct-header3 tr-banner_color tr-rowHeader">Middle name</th>
        <td class="ct-body3 tr-rowBody">{{ trial.field_midlename_public_value }}
        </td>
    </tr>
{% endif %}

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Last name</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_lastname_public_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Specialty</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_specialty_public_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Affiliation</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_affiliation_public_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Postal address</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_address_public_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">City</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_city_public_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Country</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_country_public_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Zip Code</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_zipcode_public_value }}
    </td>
</tr>

{% if trial.field_phone_public_value.0 %}
    <tr>
        <th class="ct-header3 tr-banner_color tr-rowHeader">Telephone</th>
        {% assign_class trial.field_phone_public_value.0.field_phone_public_value as phone_public_class %}
        <td class="{{ phone_public_class }}">
            {% if phone_public_class == 'tr-missing_color' %}
                Not provided
            {% else %}
                {% for phone in  trial.field_phone_public_value %}
                    {{ phone }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        </td>
    </tr>
{% endif %}

{% if trial.field_email_public_value.0 %}
    <tr>
        <th class="ct-header3 tr-banner_color tr-rowHeader">Email</th>
        <td class="ct-body3 tr-rowBody">
            {% for email in  trial.field_email_public_value %}
                {{ email }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
{% endif %}