<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Primary registry</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_primary_registry_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Unique ID number</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_id_number_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Date of Registration in Primary Registry</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_date_register_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Record Verification Date</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_record_verification_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Next update date</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_update_date_value }}
    </td>
</tr>

