<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Gender</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_gender_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Minimum age</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_minimum_age_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Maximum age</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_maximum_age_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Inclusion criteria</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_inclusion_criteria_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Exclusion criteria</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_exclusion_criteria_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Type of population</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_type_population_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Type of participant</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_type_participant_value }}
    </td>
</tr>