<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Type study</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_type_study_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Purpose</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_purpose_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Allocation</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_allocation_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Masking</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_masking_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Control group</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_control_group_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Study design</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_study_design_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Phase</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_phase_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Target sample size</th>
    <td class="ct-body3 tr-rowBody">{{ trial.field_target_sample_size_value }}
    </td>
</tr>