{% extends 'base.html' %}
{% load i18n static %}

{% block title %}Listado de Ensayos Clínicos en Inglés{% endblock %}

{% block poststyles %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block page_title %}Ensayos clínicos en inglés{% endblock %}{% block page_subtitle %}{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <br>
            <div class="box-header">
              <form method = "GET">
                <div class="col-md-3">
                  <label for="">{{ form.recruitment_status_field.label }}</label>
                  {{ form.recruitment_status_field }}
                </div>
                <div class="col-md-3">
                  <label for="">{{ form.phase_field.label }}</label>
                  {{ form.phase_field }}
                </div>
                <div class="col-md-3">
                  <label for="">{{ form.covid_trial_field.label }}</label>
                  {{ form.covid_trial_field }}
                </div>
                <div class="col-md-2">
                  <br>                  
                  <input style="margin-top: 5px;" class="btn btn-primary" type="submit" value="Filtrar">
                </div>                
            </form>            
            </div>
            <br>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Código de registro</th>
                  <th>Título del estudio</th>
                  <th>Promotor</th>
                  <th>Fecha de registro</th>
                </tr>
                </thead>
                <tbody>
                {% for clinical_trial in ClinicalTrials %}
                <tr>
                  <td><a href="{% url 'clinical_trial_detail' pk=clinical_trial.vid %}">{{ clinical_trial.field_id_number_value }}</a></td>
                  <td>{{ clinical_trial.field_scientific_title_value  }}</td>
                  <td>{{ clinical_trial.field_sponsor_value }}</td>
                  <td>{{ clinical_trial.field_date_register_value }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>Código de registro</th>
                  <th>Título del estudio</th>
                  <th>Promotor</th>
                  <th>Fecha de registro</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
{% endblock %}

{% block postscript %}
    <!-- DataTables -->
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <!-- page script -->
<script>
  $(function () {
    $('#example2').DataTable()
  })
</script>
{% endblock%}