<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Género</th>
    <td class="ct-body3 tr-rowBody">{{ ensayo.field_genero_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Edad mínima</th>
    <td class="ct-body3 tr-rowBody">{{ ensayo.field_edad_min_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Edad máxima</th>
    <td class="ct-body3 tr-rowBody">{{ ensayo.field_edad_max_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Criterios de inclusión</th>
    <td class="ct-body3 tr-rowBody">{{ ensayo.field_criterio_inclus_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Criterios de exclusión</th>
    <td class="ct-body3 tr-rowBody">{{ ensayo.field_criterio_exclus_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Tipo de población</th>
    <td class="ct-body3 tr-rowBody">{{ ensayo.field_tipo_poblacion_value }}
    </td>
</tr>

<tr>
    <th class="ct-header3 tr-banner_color tr-rowHeader">Tipo de participante</th>
    <td class="ct-body3 tr-rowBody">{{ ensayo.field_tipo_participacion_value }}
    </td>
</tr>